{% extends "base.html" %}
{% block main_content %}
  <div class="container">
    <div class="row">
      <div class="col s12 offset-m2 m8 offset-l3 l6 center">
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <div class="login-card hoverable">
            <div class="card-content">
              <span class="card-title busineme-text text-light-blue">Login</span>
              <div class="input-field">
                <i class="material-icons prefix">account_circle</i>
                <input  id="username" name="username" type="text" class="validate">
                <label for="username">Username</label>
              </div>
              <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <input  id="password" name="password" type="password" class="validate">
                <label for="password">Password</label>
                <p class="center"><small><a href="{% url 'forgot_password' %}">Esqueceu a senha?</a></small></p>
                <button class="btn waves-effect waves-light" type="submit'">Entrar</button>
              </div>
            </div>
            <div class="card-action">
              <a href="{% url 'register_user' %}">Cadastre-se</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock main_content %}