{% extends "base.html" %}
{% load i18n %}
{% block title %}Home{% endblock title %}
{% block main_content %}
<div class="container">
  <div class="row">
    <h3>{% trans "Favorite Lines" %}</h3>
    {% for busline in favorites %}
      <div class="col s12 m3">
        <div class="card hoverable">
          <div class="card-content">
            <a href="{% url 'busline_profile' line_number=busline.line_number %}">
            <span class="card-title busineme-text text-blue">#{{busline.line_number}}</a>
          </div>
          <div class="row">
            <div class="col s6 card-action left-align">
              {% if not busline in user_favorites %}
                <a href="{% url 'favorite_busline' %}?line_number={{busline.line_number}}" class="busineme-text text-red">
                <i class="material-icons">favorite</i></a>
              {% else %}
                <a href="{% url 'favorite_busline' %}?line_number={{busline.line_number}}" class="busineme-text text-red">
                <i class="material-icons">favorite_border</i></a>
              {% endif %}
            </div>
            <div class="col s6 card-action right-align">
              <a href="{% url 'post_busline' %}?line_number={{busline.line_number}}"><i class="material-icons">place</i></a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <h4>Last Activities</h4>
    {% for post in favorites_posts %}
      <p class="flow-text"><a href="{% url 'busline_profile' line_number=post.busline.line_number %}">
      #{{post.busline.line_number}}</a></p>
      <hr>
      <div class="row">
        <div class="col s2">
          {% load gravatar %}
          <img class="responsive-img circle" src="{% gravatar_url post.user.email 70 %}" alt="avatar">
        </div>
        <div class="col s10">
          <div class="row">
            <div class="col s6 valign-wrapper">
              <i class="material-icons valign">account_circle</i> {{post.user.username}}
            </div>
            <div class="col s6 valign-wrapper">
              <i class="material-icons valign">stars</i> Beginner
            </div>
          </div>
          <div class="row">
            <div class="col s12 m4 valign-wrapper">
              <i class="material-icons valign">insert_invitation</i> {{post.date}}
            </div>
            <div class="col s12 m4 valign-wrapper">
              <i class="material-icons valign">timer</i> {{post.time}}
            </div>
            <div class="col s12 m4 valign-wrapper">
              <a href="{% url 'post_detail' post_id=post.id %}" class="btn">{% trans "More..." %}</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <hr>
  </div>
</div>
{% endblock main_content %}