{% extends "base.html" %}

{% block title %}
  Home
{% endblock %}

{% block main_content %}
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center busineme-text text-light-blue">Busine.me</h1>
        <div class="row center">
          <h5 class="header col s12 busineme-text text-light-blue">Saiba se seu ônibus vai atrasar</h5>
        </div>
        <br><br>

      </div>
    </div>
    <!-- <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div> -->
  </div>
{% endblock %}
