[run]
source = ./
omit =
    */migrations/*
    test_*.py
    __init__.py
    */urls.py
    */tests/*
    */tests.py
    settings/wsgi.py

[report]
precision = 2
show_missing = True

[html]
directory = coverage_report/
title = Busine.me Test Coverage