<!DOCTYPE html>
<html>
  <head>
    <!--Import materialize.css-->
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'stylesheets/materialize.css' %}"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Busine.me | {% block title %}{% endblock %}</title>
    {% block header %}{% endblock header %}
  </head>
  <body>
  {% include 'topbar.html' %}

  <div class="busineme-content">
  {% block main_content %}
  {% endblock main_content %}
  </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sideNav.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bin/materialize.min.js' %}"></script>

    <script>
      $(document).ready(function() {
        $("#menu-topbar").sideNav({
          menuWidth: 300, // Default is 240
          closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });
        $('.modal-trigger').leanModal();
        $(".dropdown-button").dropdown();
      });
    </script>

    {% if messages %}
      <script>
        {% for message in messages %}
          {% if message.tags == 'info' %}
            var color = 'dark-grey';
          {% elif message.tags == 'error' %}
            var color = 'red';
          {% elif message.tags == 'warning' %}
            var color = 'orange';
          {% elif message.tags == 'success' %}
            var color = 'green';
          {% else %}
            var color = 'dark-grey';
          {% endif %}
          Materialize.toast('{{message}}', 4000, 'busineme ' + color);
        {% endfor %}
      </script>
    {% endif %}

    {% block footer_scripts %}
    {% endblock %}

    {% block modals %}
    {% endblock modals %}
  </body>
</html>
