{% load i18n %}
<footer class="busineme-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">{% trans "Busine.me" %}</h5>
        <p class="grey-text text-lighten-4">{% trans "Know whether your bus ride will be delayed or not" %}</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">{% trans "Links" %}</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">{% trans "Source code" %}</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">{% trans "Twitter" %}</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">{% trans "Open Data" %}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    </div>
  </div>
</footer>