.busineme-topbar {
  @extend .brand-logo;
  font-family: "Lobster";
}

.busineme-content {
    padding-top: 2rem;
}

.login-card {
  @extend .card;
  margin-top: 5rem;
}

.busineme-hometitle {
  text-shadow: 0.9px 0.9px black;
}

.busineme-homecontent {
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.profile-avatar {
    @extend .center;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.social-card {
    padding-bottom: 2rem;
}
