.busineme-topbar {
  @extend .brand-logo;
  font-family: "Lobster";
}

.busineme-content {
    padding-top: 2rem;
}

.login-card {
  @extend .card;
  margin-top: 5rem;
}

.busline-card {
  @extend .card;
}

.search-card {
  @extend .card;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.busineme-hometitle {
  text-shadow: 0.9px 0.9px black;
}

.busineme-homecontent {
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.profile-avatar {
    @extend .center;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.social-card {
    padding-bottom: 0.7rem;
}

.topbar-avatar {
    padding-top: 0.8rem;
    padding-right: 2rem;
}

.avatar-border {
    border-style: solid;
    border-width: 0.2rem;
    border-color: white;
}

.busineme-footer {
  @extend .page-footer;
  margin-top: 0rem !important;
}

.busineme-post-header {
  @extend .card-title;
  @extend .busineme-text;
  @extend .text-orange;
  padding-top: 1rem;
}

.loading-maps {
  margin-top: 1rem;
  margin-bottom: 1rem;
}