.busineme-topbar {
  @extend .brand-logo;
  font-family: "Lobster";
}

.login-card {
  @extend .card;
  margin-top: 5rem;
}

.busineme-hometitle {
  text-shadow: 0.9px 0.9px black;
}

.busineme-homecontent {
  padding-top: 3rem;
  margin-bottom: 3rem;
}
