{% extends "base.html" %}
{% load i18n %}
{% block title %}Results{% endblock %}
{% block main_content %}

	<div class="container">
		<div class="row">
			<div class="col s12 offset-m2 m8 offset-l3 l6 center">
				<form action="{% url 'post_busline' %}" method="POST" id="post_form">
				{% csrf_token %}
					<h4>New Post</h4>
				    <label>Browser Select</label>
				    <select name="terminal" class="browser-default" required>
				      	<option value="" disabled selected>Choose Course</option>
				      	{% for terminal in terminals %}
				      		<option value="{{terminal}}">{{terminal}}</option>
						{% endfor %}
				    </select>
					<h5>Traffic</h5>
					<p class="left">Free</p>
					<p class="right">Stoped</p>
					<p class="range-field">
						<input type="range" name='traffic' value='traffic' id="traffic" min="0" max="5" />
					</p>
					<h5>Capacity</h5>
					<p class="left">Empty</p>
					<p class="right">Full</p>
					<p class="range-field">
						<input type="range" name= 'capacity' value='capacity' id="capacity" min="0" max="5" />
					</p>
		        	<div class="input-field col s12">
			          	<textarea name="comment" id="comment" class="materialize-textarea"></textarea>
			          	<label for="comment">Comment</label>
		        	</div>
					<button class="btn waves-effect waves-light">{% trans 'Post' %}</button>
					<input type="hidden" name="line_number" value="{{line_number}}">
				</form>
			</div>
		</div>
	</div>
{% endblock main_content %}