{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Post" %} {{busline.line_number}}{% endblock %}
{% block main_content %}
	<div class="busineme-content">
		<div class="container">
			<div class="row">
				<div class="col s12 offset-m3 m6 offset-l3 l6">
					<div class="card">
						<div class="card-content center">
							<span class="card-title busineme-text text-blue">{% trans "New Post" %}</span>
							<form action="{% url 'post_busline' %}" method="POST" id="post_form">
								{% csrf_token %}
								<select name="terminal" class="browser-default" required>
									<option value="" disabled selected>{% trans "Choose Course" %}</option>
									{% for terminal in busline.terminals.all %}
										<option value="{{terminal}}">{{terminal}}</option>
									{% endfor %}
								</select>
								<p class="busineme-post-header">{% trans "Traffic" %}</p>
								<p><span class="left">{% trans "Free" %}</span>
								<span class="right">{% trans "Stoped" %}</span></p>
								<p class="range-field">
									<input type="range" name='traffic' id="traffic" min="0" max="100" />
								</p>
								<p class="busineme-post-header">{% trans "Capacity" %}</p>
								<p><span class="left">{% trans "Empty" %}</span>
								<span class="right">{% trans "Full" %}</span></p>
								<p class="range-field">
									<input type="range" name= 'capacity' id="capacity" min="0" max="100" />
								</p>
								<div class="input-field col s12">
									<textarea name="comment" id="comment" class="materialize-textarea"></textarea>
									<label for="comment">Comment</label>
								</div>
								<div id="loading-maps" class="loading-maps">
									<p class="center">
									<i class="material-icons">my_location</i>
									<span>{% trans "Getting your position..." %}</span></p>
									<div class="preloader-wrapper small active">
										<div class="spinner-layer spinner-blue-only">
											<div class="circle-clipper left">
												<div class="circle"></div>
											</div>
											<div class="gap-patch">
												<div class="circle"></div>
											</div>
											<div class="circle-clipper right">
												<div class="circle"></div>
											</div>
										</div>
									</div>
								</div>
								<input type="hidden" name="line_number" value="{{line_number}}">
								<input type="hidden" name="longitude" id="longitude" value="">
								<input type="hidden" name="latitude" id="latitude" value="">
								{% if last_post %}
								<a href="{% url 'review' last_post_id=last_post.id %}" class="btn">{% trans "Review and Post" %}</a>
								{% else %}
								<button id="post_button" class="btn">{% trans 'Post' %}</button>
								{% endif %}
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock main_content %}

{% block footer_scripts %}
	{% include "post_scripts.html" %}
{% endblock footer_scripts %}